<div class="col-6 p-1">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{lecturer}}</h5>
      <p class="card-text">{{lecture}}</p>
      <p class="card-text">{{skill}} / {{language}}</p>
    </div>
  </div>
</div>
