<div class="row">
  <div class="col-12">
  <form [formGroup]="filterForm" >
    <div class="form-inline">
          <div *ngFor="let chkBox of filterForm.controls.checkboxes.controls; let i = index;">
            <input type="checkbox" [formControl]="chkBox">
            {{checkBoxes[i].name}}
          </div>
          <div *ngFor="let input of filterForm.controls.inputs.controls">
            <input type="text" [formControl]="input">
          </div>
          <button type="submit" class="btn btn-primary" (click)="resetFilter()">Reset filter</button>
    </div>
  </form>
  </div>
</div>
