<div class="container-fluid">
  <app-filter (filterOutput)="onFilter($event)"></app-filter>
  <div class="row">
    <div class="col-4">
      <div class="row">
        <app-lecture [lecturer]="card.lecturer" [lecture]="card.lecture" [language]="card.language" [skill]="card.skill" *ngFor="let card of filteredCards"></app-lecture>
      </div>
    </div>
  </div>
</div>

